
@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Merriweather:wght@300;400;700&display=swap');

.redressed {
    font-family:fantasy;
}
.merriweather {
    font-family:fantasy uppercase;
    font-size: smaller;
}

.cc-navbar {
    background-color: rgba(211, 46, 0, 0.55);
    box-shadow: 1px 1px 3px;
    font-family: 'Times New Roman', Times, serif ;
    z-index: 99;
}

.cc-navbar .nav-link {
    transition:cubic-bezier(0.215, 0.610, 0.355, 1);
    border-bottom: 1px solid transparent ;
    font-family:'Times New Roman', Times, serif;
    color:white;
    font-size: large;
}
btn
.cc-navbar .nav-link:hover {
    padding-bottom: 20px;
    border-bottom-color:  var(--bs-teal);

}
.cc-navbar .navbar-brand {
    font-family:'Times New Roman', Times, serif;
    font-style: bold ;
    color:antiquewhite;
}
.btn-outline-light{
    font-family: 'Times New Roman', Times, serif;
	transition: 0.5s;
}



.btn-order:hover,
.btn-order:focus,
.btn-order:active {
	color: #fff;
	background-color: var(--bs-teal);
}

.banner,
.order-form {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../css/1.jpg') center center fixed no-repeat;
    background-size: cover;
    height: 800px;
}

.order-form {
    padding-top: 5%;
    height: 550px;
}

.banner .banner-desc h1 {
    font-size: 48px;
    font-weight: 400;
    color: #fff;
}

.cc-navbar  .icons-container {
    height: 50px;
    width: 50px;
}
.cc-menu {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../css/banniere.jpg') center center fixed no-repeat;
    background-size: cover;
}
.btn-success{
    font-style:normal;
    font-family: 'Times New Roman', Times, serif;
    color:antiquewhite;
    border: 30;
    background-color:rgba(5, 80, 5, 0.655)
}
.cc-menu .nav-link{
    font-family: fantasy;
    font-size: medium;
}
.cc-menu .merriweather{
    font-family: fantasy;
    font-size: x-large;
}
h5{
    font-family: fantasy;
    font-size: x-large;
}
.cc-menu .card-text{
    font-family:'Times New Roman', Times, serif;
    font-size:large;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container1 {
    padding-top: 5%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #b66c41;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}
h3{
    font-family: 'Times New Roman', Times, serif;
}

.description {
    width: 43%;
    text-align: center;
}

.clientImage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clientImage img {
    width: 40px;
}

.clientImage span {
    margin-left: 15%;
}

.reviewSection {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.reviewItem {
    width: 300px;
    padding: 10px;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: #bd9833;
    border: 1px solid #d68b01;
    transition: all .2s linear;
}

.reviewItem:hover {
    border-color: aqua;
    transform: scale(1.01);
    background-color: #c0942e;
    box-shadow: 0 0px 5px 0px #cbc0c0;
}

.top {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top ul {
    display: flex;
    list-style: none;
}

.top ul li {
    padding-left: 4px;
}

.article p {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 1rem;
    font-family: system-ui;
}


.container2 {
    color: rgb(18, 14, 14);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color:brown;
}



